html
    head
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css')
        script(src='https://code.jquery.com/jquery-3.1.1.slim.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    body

table.table.table-striped
    tr
        th ID
        th Имя
        th Фамилия
        th Телефон
        th Редактировать
        th Удалить
        th Подробная информация

    for res in message
        tr
            for obj in Object.keys(res)
                if obj == 'link'
                    td
                        a(href=res[obj]) edit
                else
                    if obj == 'dellink'
                        td
                            a(href=res[obj]) delete
                    else
                        if obj == 'fullinfo'
                            td
                                a(href=res[obj]) Информация
                        else
                            td= res[obj]

div.row
    div.col-md-3
        h3 Добавление данных
        a.btn.btn-default(href=addlink) Добавить

    div.col-md-3
        h3 Поиск данных
        a.btn.btn-default(href=searchlink) Поиск

