html
    head
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css')
        script(src='https://code.jquery.com/jquery-3.1.1.slim.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    body.text-center

table.table.table-striped
    if message != ''
        tr
            th ID
            th Имя
            th Фамилия
            th Телефон
    for res in message
        tr
            for obj in Object.keys(res)
                td= res[obj]

div
    h3.text-center Поиск данных
    form.text-center(action='/api/v1/phonebook/search',method='post')
        input.form-control(id='userid',type='hidden',value=message,placeholder='ID',name='userid')
        div.form-group
            label.text-left(for='username') Имя
                input.form-control(id='username',type='text',value='',placeholder='Имя',name='username')
        div.form-group
            label.text-left(for='usersurname') Фамилия
                input.form-control(id='usersurname',type='text',value='',placeholder='Фамилия',name='usersurname')
        div.form-group
            label.text-left(for='userphone') Телефон
                input.form-control(id='userphone',type='text',value='',placeholder='Телефон',name='userphone')
        div.form-group
            input.btn.btn-primary(type='submit',value='Найти')

a(href=link) Вернуться

