html
    head
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css')
        script(src='https://code.jquery.com/jquery-3.1.1.slim.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    body

div
    for res in message
        p
            for obj in Object.keys(res)
                p
                    span.text-uppercase(style="font-weight:bold")= obj
                    span -
                    span= res[obj]

a(href=link) Вернуться

